<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div th:if="${param.logout}">
            <p th:text="#{logout.done}"/>
        </div>
        <div th:if="${param.error}">
            <p th:text="#{login.failure}"/>
        </div>
        
    <form th:action="@{/login}" method="POST">
        <label for="username">USER ID</label>
        <input type="text" name="username" value="" required/><br>
        <label for="password">PASSWORD</label>
        <input type="password" name="userpassword" value="" required/><br>
        <input type="submit" value="LOGIN" />
    </form>
</body>
</html>